extends layout

block content
  head
    title Bioquimico
    script.
      // JavaScript para ocultar el mensaje de éxito después de 5 segundos
      document.addEventListener("DOMContentLoaded", () => {
        const successAlert = document.querySelector(".alert-success");
        if (successAlert) {
          setTimeout(() => {
            successAlert.style.display = "none";
          }, 5000); // 5000 milisegundos = 5 segundos
        }
      });
  body
    .container
      h1 Bienvenido #{nombreUsuario}
       if query.success 
        .alert.alert-success.mt-3= query.success
      .row
        .col-lg-12
          h2 Paciente
          a(href="/buscar-paciente" class="btn btn-primary btn-block mt-3") Registrar/Buscar Paciente

      .row
        .col-lg-12
          h2 Órdenes
          a(href="/orden/generacion-orden" class="btn btn-success btn-block mt-3") Generar Orden
        .col-lg-12
          a(href="/BuscarOrdenes/ordenes" class="btn btn-primary btn-block mt-3") Actualizar Orden

      .row
        .col-lg-12
          h2 Exámenes
          a(href="/examen/crear-examen" class="btn btn-success btn-block mt-3") Generar Examen
        .col-lg-12
          a(href="/modificar-examen/buscar-modificar-examen" class="btn btn-primary btn-block mt-3") Actualizar Examen

      .row
        .col-lg-12
          h2 Determinaciones
          a(href="/determinacion/crear-determinacion" class="btn btn-success btn-block mt-3") Generar Determinación
        .col-lg-12
          a(href="/modificar-determinacion/modificar-determinacion" class="btn btn-primary btn-block mt-3") Actualizar Determinación

      .row
        .col-lg-12
          h2 Valores de Referencia
          a(href="/valoresreferencia/crear-valores" class="btn btn-success btn-block mt-3") Generar Valor de Referencia
        .col-lg-12
          a(href="/buscar-valores/buscar-valores-referencia" class="btn btn-primary btn-block mt-3") Actualizar Valor de Referencia
