extends layout

block content
  head
    title Recepcionista
    script.
      // JavaScript para ocultar el mensaje de éxito después de 5 segundos
      document.addEventListener("DOMContentLoaded", () => {
        const successAlert = document.querySelector(".alert-success");
        if (successAlert) {
          setTimeout(() => {
            successAlert.style.display = "none";
          }, 5000); // 5000 milisegundos = 5 segundos
        }
      });

  body
    .container
      h1(class="mt-5 text-center") Bienvenido #{nombreUsuario}
       if query.success 
        .alert.alert-success.mt-3= query.success

      // Paciente
      .row
        .col-lg-12
          h2 Pacientes
          a(href="/buscar-paciente" class="btn btn-primary btn-block mt-3") Registrar/Buscar Paciente

      // Órdenes
      .row
        .col-lg-12
          h2 Órdenes
          a(href="/orden/generacion-orden" class="btn btn-primary btn-block mt-3") Generar Orden

      .row
        .col-lg-12
          a(href="/BuscarOrdenes/ordenes" class="btn btn-primary btn-block mt-3") Actualizar Orden
