body {
  background-color: #f8f9fa;
}

/* Estilos para la navbar */
.navbar {
  background-color: #343a40; /* Cambiado a un color oscuro */
  padding: 10px 20px;
  width: 100%; /* Asegura que la navbar ocupe el 100% */
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1rem;
}

.navbar .dropdown-menu.show {
  background-color: #f8f9fa;
  left: 0; /* Alinea el menú desplegable a la izquierda */
  right: auto; /* Evita que se alinee a la derecha */
  width: auto; /* Permite que el ancho se ajuste al contenido */
  max-width: none; /* Elimina el ancho máximo que podría causar desbordamiento */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Añade sombra para mejor visibilidad */
}
.navbar-collapse{
  padding-right: 150px;
}

.navbar .dropdown-menu a {
  color: #343a40;
}

.navbar .dropdown-menu a:hover {
  background-color: #007bff;
  color: white;
}

/* Página de Login */
.login-page {
  width: 85%;
  margin: 0 auto;
}

.login-page .navbar {
  background-color: black;
  color: white;
}

.login-page .container {
  max-width: 700px;
  padding-top: 40px;
}

.login-page h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #343a40;
}
.card {
  height: auto; /* Ajusta este valor según tus necesidades */
  overflow-y: auto; /* Permite el scroll vertical */
}

.login-page .form-group label {
  font-weight: bold;
}

.login-page .form-control {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-page .btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.login-page .error-message {
  color: red;
  font-weight: bold;
}

/* Estilos globales */
html, body {
  margin: 0;
  height: 100%;
  padding: 0; /* Elimina el padding para que el navbar y footer ocupen el 100% del ancho */
  width: 100%;
}

.container {
  max-width: 55%;
  margin: 100px auto;
}

/* Footer */
.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.footer p {
  margin: 5px 0;
}

.content {
  flex: 1; /* Permite que el contenido ocupe el espacio disponible */
}

/* Mejoras para el informe */
.report-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-table th {
  background-color: #343a40;
  color: white;
  text-align: center;
}

.result-table td {
  text-align: center;
}
.margin-top-custom {
  margin-top: 80px;
}
.report-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el alto de la vista */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 0 0 auto;
}

.lab-info {
  flex: 1;
  margin-left: 20px;
}

.lab-info h2,
.lab-info p {
  margin: 0;
}

.report-details {
  flex: 1;
  margin-top: 20px; /* Espacio entre el contenido y el pie de página */
}

.content-footer {
  margin-top: 20px; /* Espacio entre el contenido y el pie de página */
  padding: 10px;

  border-top: 1px solid #ddd;
}

.result-table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 10px; 
}

.result-table tr {
  border-bottom: 1px solid #ddd; 
}

.result-table th,
.result-table td {
  border: 1px solid #ddd; 
  padding: 15px; 
  text-align: left; 
}




.result-table td {
  font-size: 14px; 
  line-height: 1.6; 
}

.result-table tr:hover {
  background-color: #eaeaea; 
}
@media print {
  .report-container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }

  .result-table {
    width: 100%;
    font-size: 10px; /* Reducir el tamaño de la fuente si es necesario */
    border-collapse: collapse; /* Eliminar espacios entre celdas */
  }

  .result-table th,
  .result-table td {
    padding: 5px; /* Reducir el padding para ajustar el contenido */
  }

  /* Ajustar márgenes para la impresión */
  @page {
    size: A4;
    margin: 10mm; /* Ajustar el margen si es necesario */
  }
}
@media print {
  .report-container {
    overflow: visible !important; 
  }
}
.order-info, .report-details {
  margin: 10px 0; /* Añade margen entre secciones */
  padding: 10px;   /* Añade padding interno */
  
}
.result-table {
  width: 100%; /* Asegúrate de que la tabla use el ancho completo */
  table-layout: auto; /* Fija el ancho de las columnas */
}

.result-table th, .result-table td {
  word-wrap: break-word; /* Permite que las palabras se rompan si son demasiado largas */
  padding: 4px;
}
#resultados_busqueda {
  background-color: white; /* Fondo blanco */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 4px; /* Bordes redondeados */
  max-height: 200px; /* Altura máxima */
  overflow-y: auto; /* Scroll si es necesario */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  position: absolute; /* Para posicionar sobre el input */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  width: calc(100% - 2px); /* Ajustar el ancho al del input */
  display: none; /* Oculto por defecto */
}

#lista_resultados {
  list-style: none; /* Sin viñetas */
  padding: 0; /* Sin padding */
  margin: 0; /* Sin márgenes */
}

.resultado {
  padding: 8px 12px; /* Espaciado interno */
  cursor: pointer; /* Cursor de mano al pasar por encima */
}

.resultado:hover {
  background-color: #f0f0f0; /* Fondo gris claro al pasar el mouse */
}

.resultado.selected {
  background-color: #e0e0e0; /* Fondo gris más oscuro cuando está seleccionado */
}